<header class="navbar navbar-expand-lg navbar-dark header">
  <div class="nav-item dropdown icon-header" ngbDropdown>
    <a
      ngbDropdownToggle
      class="nav-link"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
    </a>
    <div class="dropdown-menu nav-dropdown-two" aria-labelledby="navbarDropdown" ngbDropdownMenu>
      <a ngbDropdownItem class="dropdown-item">
        <img class="picto-forward" alt="" />
        First element
      </a>
    </div>
  </div>
</header>
